{% extends "base.html" %}

{% block content %}

<form action="/events" method="post">
    <label for="name">Event name</label>
    <input type="text" name="name" id="name">

    <label for="date">Event date</label>
    <input type="date" name="date" id="date">

    <label for="attendance">Attendance</label>
    <input type="text" name="attendance" id="attendance">

    <label for="city">City</label>
    <input type="text" name="city" id="city">

    <label for="description">Event description</label>
    <input type="text" name="description" id="description">

    <label for="recurring">Recurring?</label>
    <input type="text" name="recurring" id="recurring">

    <input type="submit" value="Add event">

  </form>
  <hr>

<h1>All Events</h1>

<div class="event-card">
  {% for event in event_list %}
  <div class="event">
    <h2>{{ event.name }}</h2>
    <h3>Date: {{ event.date.strftime("%d %b %Y") }}</h3>
    <h4>Attendance: {{ event.number_of_guests }}</h4>
    <h5>City: {{ event.rm_location }}</h5>
    <p> {{ event.description }} </p>
    {% if event.recurring %}
        <span style='font-size:20px;'>&#128260;</span>
        {% endif %}
    <a href="/events/{{event_list.index(event)}}">Show event</a>
  </div>
  {% endfor %}
</div>

{% endblock %}